<%- include ../layouts/head.ejs %>
<h1 style="text-align: center;">Formulario para editar</h1>
<br>
<form action="/vuelos/updateV/<%= row.idVuelo %>" method="post" class="form-label" style="margin-left: 5%; margin-right: 5%;">
    <input type="hidden" name="idVuelo" value="<%= row.idVuelo %>">
    <h5>Fecha</h5>
    <input class="form-control" type="text" name="fecha" value="<%= row.fecha %>">
    <br>
    <h5>Hora</h5>
    <input class="form-control" type="text" name="hora" value="<%= row.hora %>">
    <br>
    <h5>Ciudad origen</h5>
    <input class="form-control" type="text" name="ciudadOrigen" value="<%= row.ciudadOrigen %>">
    <br>
    <h5>Estado origen</h5>
    <input class="form-control" type="text" name="estadoOrigen" value="<%= row.estadoOrigen %>">
    <br>
    <h5>País origen</h5>
    <input class="form-control" type="text" name="paisOrigen" value="<%= row.paisOrigen %>">
    <br>
    <h5>Ciudad destino</h5>
    <input class="form-control" type="text" name="ciudadDestino" value="<%= row.ciudadDestino %>">
    <br>
    <h5>Estado destino</h5>
    <input class="form-control" type="text" name="estadoDestino" value="<%= row.estadoDestino %>">
    <br>
    <h5>País destino</h5>
    <input class="form-control" type="text" name="paisDestino" value="<%= row.paisDestino %>">
    <br>
    <h5>Número plazas</h5>
    <input class="form-control" type="number" name="plazasTotales" min="0" value="<%= row.plazasTotales %>">
    <br>
    <div class="d-grid gap-2">
        <input class="btn btn-outline-primary" type="submit" value="Aceptar">
    </div>
</form>
<%- include ../layouts/foot.ejs %>