<%- include ../layouts/head.ejs %>
<h1 style="text-align: center;">Usuario   <a class="btn btn-outline-success btn-sm" href="/usuarios/createU">Agregar</a></h1>
    <div class="table-responsive" style="margin: 3%;">
      <table class="table table-striped table-bordered" style="vertical-align: middle; text-align: center;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
            <% for( let i = 0; i < usuarios.length; i++ ) { %>          
          <tr>
            <td><%= usuarios[i].idUsuario %></td>
            <td><%= usuarios[i].nombre %></td>
            <td><%= usuarios[i].apellidoPaterno %></td>
            <td><%= usuarios[i].apellidoMaterno %></td>
            <td><%= usuarios[i].correo %></td>
            <td>
              <a class="btn btn-outline-warning btn-sm" href="/usuarios/editU/<%= usuarios[i].idUsuario %>">Editar</a>
              <a class="btn btn-outline-danger btn-sm" href="/usuarios/deleteU/<%= usuarios[i].idUsuario %>">Borrar</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
<%- include ../layouts/foot.ejs %>